body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  background-color: #252525;
  color: #fff;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container img {
  width: 100px;
  margin: 20px;
  padding: 20px;
}

.container .title-input {
  font-family: 'Arial Narrow Bold', sans-serif;
  position: relative;
  overflow: hidden;
}

.title-input::after {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 200%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
  animation: titleGlow 2s linear infinite;
  opacity: 0; /* Inicialmente oculto */
  pointer-events: none; /* Evitar interacciones con el destello */
}

.title-input:hover::after {
  opacity: 1; /* Mostrar el destello al pasar el mouse por encima */
}

@keyframes titleGlow {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(50%);
  }
}

.search-input {
  display: flex;
  align-items: center;
  background-color: #333;
  border-radius: 5px;
  padding: 5px;
}

.search-input i {
  margin-right: 5px;
  color: #777;
}

#filtro {
  width: 300px;
  height: 20px;
  border: none;
  outline: none;
  background-color: #444;
  color: #fff;
}

#resultado {
  margin: 20px;
  font-family: Arial, sans-serif;
  max-width: 800px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

strong {
  color: #fff;
  margin-right: 5px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Media Queries */
@media screen and (max-width: 600px) {
  .container {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .container img {
    width: 50px;
    margin: 10px;
    padding: 10px;
  }

  #resultado {
    margin: 10px;
  }
}

@media screen and (max-width: 678px) {
  .container {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .container img {
    width: 30px;
    margin: 5px;
    padding: 5px;
  }

  #resultado {
    display: flex;
    flex-direction: column;
    margin: 5px;
  }

  li {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}